@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root {
  --primary-color: rgb(243, 166, 22);
  --primary-color-active: rgb(146, 98, 9);
  --primary-color-hover: rgb(201, 138, 23);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(./Assets/images/taroMainBg.jpg);
  background-repeat: no-repeat;
  background-color: rgb(5 5 5);
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow-x: visible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
